---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const { titulo } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <title>{titulo}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>